body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  background-color: white;
}

:root {
  --main-color: #2c3558;
  --btn-hover-color: #3f4977;
  --secondary-color:rgb(167 213 226);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  padding-inline: 5rem;
  padding-block: 1rem;
  margin: auto;
}
textarea{
  resize: none;
  padding: 8px;
}
.btn{
  margin-right: 20px;
  margin-bottom: 6px;
  font-size: 15px;
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
}

.btn:hover{
  background-color: var(--btn-hover-color);
}

/* Loading  */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--main-color);
  animation: spinner 0.6s linear infinite;
}

.alert{
  width: 100%;
  padding: 9px;
  border-radius: 3px;
}
.danger{
  background-color: #f8d7da;
  color: rgb(103 15 15);
  border: 2px solid rgb(207 168 166);
}
.success{
  background-color: #d4edda;
  color: rgb(4 125 9);
  border: 2px solid rgb(169 213 171);
}

/* Start Navbar  */
.navbar{
  position: sticky;
  top: 0;
  z-index: 2;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  background-color: var(--secondary-color);
}
.navbar .logo img {
  max-width: 50px;
}
.navbar .links {
  display: flex;
}
.navbar .links a {
  font-size: 26px;
  cursor: pointer;
  color: rgb(44 54 89);;
  font-weight: bold;
}
.navbar .links li:not(:last-child) {
  margin-right: 20px;
}
/* End Navbar  */

/* Start Form  */
label , .answerInput{
  margin-bottom: 10px;
}
form {
  margin: 0 auto;
}
.alert{
  margin-bottom: 30px;
}
form .content{
  display: flex;
  gap: 25px;
}

.required{
  color: red;
  position: relative;
  
}
.required::after{
  content: "Required";
  position: absolute;
  font-size: 13px;
  top: 4px;
  left: 15px;
  color: red;
  opacity: 0;
  transition: 0.2s;
  z-index: 0;
}
.required:hover::after{
  opacity: 100%;
}

form .left{
  width: clamp(450px, 60%,700px);
  margin-right: 30px;
  position: sticky;
  align-self: flex-start;
  top:11rem;
  left: 0;
}
form .left .submit{
  font-size: 18px;
  padding: 10px 20px;
}
form .right{
  flex: 1;
}
@media (max-width:1400px) {
  form .container{
    display: block;
  }
  form .left,form .right{
    margin: 0 auto;
  }
}

input,textarea{
  outline: none;
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  font-size: 17px;
}
form label{
  font-size: 25px;
  font-weight: 500;
}
form .formFields,form .formFields .box .question{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
form .formFields input,
form .formFields .box .question input{
  padding: 15px;
}
form .answersContainer{
  margin-bottom: 30px;
}
form .answersContainer .answerInput{
  width: fit-content;
  padding: 6px;
  border-bottom: 1px solid var(--secondary-color);
}
form .answersContainer .answerInput input[type="text"]{
  padding: 8px;
  background-color: transparent;
  border: none;
}
form .answersContainer .answerInput input[type="text"]::placeholder{
  color: rgb(66, 66, 66);
}
form .answersContainer .answerInput input[type="radio"]:checked{
  accent-color: #4e6cf0;
}
form .answersContainer .answerInput .btn{
  font-size: 10px;
  padding: 5px 10px;
  background-color: rgb(167, 53, 53);
  
}
form .formFields .box{
  margin-bottom: 20px;
}
form .formFields .box .btns{
  display: flex;
  flex-wrap: wrap;
} 
form .formFields .box .btns .addAnswer,.addQuestion,.removeQuestion{
  margin-right: 7px;
}
/* End Form  */

/* Start Quizes */
.quizes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  gap: 20px;
}
/* End Quizes */

/* Start Quiz */
.noQuizes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.noQuizes img{
  max-width: 500px;
  width: 100%;
}
.noQuizes h2{
  font-size: 35px;
  color: #2c3558;
}
.noQuizes a{
  text-decoration: underline;
  font-size: 22px;
}
.quiz {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 100px 17px #eeeeee;
}
.quiz .cardImage{
  position: relative;
}
.quiz .cardImage img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.quiz .cardImage .lock{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  color: rgb(19, 134, 163);
}

.quiz .cardBody {
  margin-block: 15px 15px;
}
.quiz .cardBody .quizTitle {
  color: var(--main-color);
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
}
.quiz .cardBody .quizDesc {
  margin-block: 10px;
  word-wrap: break-word;
  text-transform: capitalize;
}
.quiz .cardFooter {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}
.quiz .cardFooter .trash {
  color: rgb(202, 190, 190);
  cursor: pointer;
  position: relative;
}
.quiz .cardFooter .trash:hover{
  color: red;
}
.quiz .cardFooter .play {
  color: rgb(30, 182, 0);
  cursor: pointer;
}
.quiz .password {
  margin-block: 20px 5px;
}
.quiz .password input{
  width: 100%;
  border-radius: 0;
  padding: 3px;
}
/* End Quizes */

/* Quiz Box  */

.questions{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions .container{
  width: 1250px;
  background-color: var(--main-color);
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 42px 0px rgba(71, 71, 71, 0.75);
}

.questions .container .question-box{
  margin-right: 20px;
  padding: 30px;
}

.questions .container .question-box .question-no{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.questions .container .question-box .question-no span{
  font-size: 35px;
}

.questions .container .question-box .thequestion{
  font-size: 45px;
  text-transform: capitalize;
}

.questions .container .answers{
  display: grid;
  grid-template-columns: repeat( 12, minmax(300px, 1fr) );
  margin-top: 40px;
}

.questions .container .answers button{
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
  border-color: #a7d5e2;;
  margin-bottom: 20px;
  text-align: left;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  width: 250px;
  transition: 0.2s;
}

.questions .container .answers button:hover {
  background-color: var(--btn-hover-color);
  color: rgb(252, 252, 252);
}

.score{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/* Error Page  */
.notFound .container{
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notFound .container h1{
  font-size: 50px;
  color: #2c3558;
}
.notFound .container img{
  max-width: 500px;
  width: 100%;
}
.notFound .container a{
  font-size: 30px;
  text-decoration: underline;
}
.notFound .container a span{
  margin-left: 13px;
}