body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  background-color: rgb(127, 180, 196);
}

:root {
  --main-color: #2c3558;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  padding-inline: 5rem;
  padding-block: 1rem;
  margin: auto;
}
button{
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
textarea{
  resize: none;
  padding: 8px;
}

/* Loading  */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--main-color);
  animation: spinner 0.6s linear infinite;
}

/* Start Navbar  */
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -16px 7px 20px 11px #558fae;;
  margin-bottom: 60px;
}
.navbar .logo img {
  max-width: 50px;
}
.navbar .links {
  display: flex;
}
.navbar .links a {
  font-size: 22px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.navbar .links li:not(:last-child) {
  margin-right: 20px;
}
/* End Navbar  */

/* Start Form  */
label , .answerInput{
  margin-bottom: 10px;
}
form {
  max-width: 700px;
  margin: 0 auto;
}
input,textarea{
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 17px;
}
form label{
  font-size: 25px;
  font-weight: 500;
}
form .formFields,form .formFields .box .question{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
form .formFields input,
form .formFields .box .question input{
  padding: 15px;
}
form .answersContainer{
  margin-bottom: 30px;
}
form .answersContainer .answerInput{
  width: fit-content;
  padding: 6px;
  border-bottom: 3px solid rgb(0 100 114);
}
form .answersContainer .answerInput input[type="text"]{
  padding: 8px;
  background-color: transparent;
}
form .answersContainer .answerInput input[type="text"]::placeholder{
  color: rgb(66, 66, 66);
}
form .answersContainer .answerInput input[type="radio"]:checked{
  accent-color: #4e6cf0;
}
form .formFields .box{
  margin-bottom: 20px;
}
form .formFields .box .btns{
  display: flex;
  flex-wrap: wrap;
}
form .formFields .box .btns button{
  margin-left: 20px;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 6px;
}
form .formFields .box .btns .addNewQuestionBtn{
  display: flex;
}
form .formFields .box .btns .addAnswer span{
  margin-right: 7px;
}
/* End Form  */

/* Start Quizes */
.quizes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  gap: 20px;
}
/* End Quizes */

/* Start Quiz */
.noQuizes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.noQuizes img{
  max-width: 500px;
  width: 100%;
}
.noQuizes h2{
  font-size: 35px;
  color: #2c3558;
}
.noQuizes a{
  text-decoration: underline;
  font-size: 22px;
}
.quiz {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.quiz .cardImage img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.quiz .cardBody {
  margin-block: 15px 15px;
}
.quiz .cardBody .quizTitle {
  color: var(--main-color);
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
}
.quiz .cardBody .quizDesc {
  margin-block: 10px;
  word-wrap: break-word;
  text-transform: capitalize;
}
.quiz .cardFooter {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}
.quiz .cardFooter .trash {
  color: rgb(202, 190, 190);
  cursor: pointer;
  position: relative;
}
.quiz .cardFooter .trash:hover{
  color: red;
}
.quiz .cardFooter .play {
  color: rgb(30, 182, 0);
  cursor: pointer;
}
/* End Quizes */

/* Quiz Box  */

.questions{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions .container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 550px;
  background-color: var(--main-color);
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 42px 0px rgba(71, 71, 71, 0.75);
}

.questions .container .question-box{
  margin-right: 20px;
}

.questions .container .question-box .question-no{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.questions .container .question-box .question-no span{
  font-size: 30px;
}

.questions .container .question-box .thequestion{
  font-size: 22px;
}

.questions .container .answers{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.questions .container .answers button{
  background-color: transparent;
  color: white;
  border-radius: 10px;
  border-color: white;
  margin-bottom: 20px;
  text-align: left;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  width: 250px;
  transition: 0.2s;
}

.questions .container .answers button:hover {
  background-color: #d1d1d1;
  color: black;
}

.score{
  font-size: 30px;
  font-weight: bold;
  margin: auto;
}

/* Error Page  */
.notFound .container{
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notFound .container h1{
  font-size: 50px;
  color: #2c3558;
}
.notFound .container img{
  max-width: 500px;
  width: 100%;
}
.notFound .container a{
  font-size: 30px;
  text-decoration: underline;
}
.notFound .container a span{
  margin-left: 13px;
}