body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  background-color: white;
}

:root {
  --main-color: #2c3558;
  --main-color2: #3f4977;
  --secondary-color: rgb(167 213 226);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  padding-inline: 5rem;
  padding-block: 1rem;
  margin: auto;
}
textarea {
  resize: none;
  padding: 8px;
}
.btn {
  margin-right: 20px;
  margin-bottom: 6px;
  font-size: 15px;
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
}
.submitBtn {
  width: 100%;
  border-radius: 0;
  font-size: 18px;
}

.btn:hover {
  background-color: var(--main-color2);
}

/* Loading  */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--main-color);
  animation: spinner 0.6s linear infinite;
}

.alert {
  width: 100%;
  padding: 9px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.danger {
  background-color: #f8d7da;
  color: rgb(103 15 15);
  border: 2px solid rgb(207 168 166);
}
.success {
  background-color: #d4edda;
  color: rgb(4 125 9);
  border: 2px solid rgb(169 213 171);
}

.timer span {
  font-size: 25px;
  border: 1px solid white;
  padding: 5px 12px;
  border-radius: 5px;
}
.timer span.halfTime {
  color: red;
}

/* Start Navbar  */
.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
}
.navbar .logo img {
  max-width: 50px;
}
.navbar .links {
  display: flex;
}
.navbar .links a {
  font-size: 26px;
  cursor: pointer;
  color: rgb(44 54 89);
  font-weight: bold;
}
.navbar .links li:not(:last-child) {
  margin-right: 20px;
}
.navbar .links .accountBtn {
  position: relative;
}
.navbar .links .dropMenu{
  position: absolute;
  font-size: 17px;
  background-color: rgb(243, 243, 243);
  left: -40%;
  top: 120%;
  transform: translateX(50%);
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.navbar .links .dropMenu a{
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}
.navbar .links .dropMenu a:hover{
  text-decoration: underline;
}
.navbar .links .dropMenu::before{
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent rgb(243, 243, 243) transparent;
  top: -10px;
  left: 39%;
  transform: translateY(-50%);
}
/* End Navbar  */

/* Start Form  */
label,
.answerInput {
  margin-bottom: 10px;
}
.createQuizForm {
  margin: 65px auto;
}
.createQuizForm .content {
  display: flex;
  gap: 25px;
}

.required {
  color: red;
  position: relative;
}
.required::after {
  content: "Required";
  position: absolute;
  font-size: 13px;
  top: 4px;
  left: 15px;
  color: red;
  opacity: 0;
  transition: 0.2s;
  z-index: 0;
}
.required:hover::after {
  opacity: 100%;
}

.createQuizForm .left {
  width: clamp(450px, 60%, 700px);
  margin-right: 30px;
  position: sticky;
  align-self: flex-start;
  top: 11rem;
  left: 0;
}
.createQuizForm .left .submit {
  font-size: 18px;
  padding: 10px 20px;
}
.createQuizForm .right {
  flex: 1;
}
@media (max-width: 1400px) {
  .createQuizForm .container {
    display: block;
  }
  .createQuizForm .left,
  .createQuizForm .right {
    margin: 0 auto;
  }
}

input,
textarea {
  outline: none;
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  font-size: 17px;
}
form label {
  font-size: 25px;
  font-weight: 500;
}
form .formFields,
form .formFields .box .question {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
form .formFields input,
form .formFields .box .question input {
  padding: 15px;
}
.createQuizForm .answersContainer {
  margin-bottom: 30px;
}
.createQuizForm .answersContainer .answerInput {
  width: fit-content;
  padding: 6px;
  border-bottom: 1px solid var(--secondary-color);
}
.createQuizForm .answersContainer .answerInput input[type="text"] {
  padding: 8px;
  background-color: transparent;
  border: none;
}
.createQuizForm .answersContainer .answerInput input[type="text"]::placeholder {
  color: rgb(66, 66, 66);
}
.createQuizForm .answersContainer .answerInput input[type="radio"]:checked {
  accent-color: #4e6cf0;
}
.createQuizForm .answersContainer .answerInput .btn {
  font-size: 10px;
  padding: 5px 10px;
  background-color: rgb(167, 53, 53);
}
.createQuizForm .formFields .box {
  margin-bottom: 20px;
}
.createQuizForm .formFields .box .btns {
  display: flex;
  flex-wrap: wrap;
}
.createQuizForm .formFields .box .btns .addAnswer,
.addQuestion,
.removeQuestion {
  margin-right: 7px;
}
/* End Form  */

/* Start Quizes */
.quizes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  gap: 20px;
}
/* End Quizes */

/* Start Quiz */
.noQuizes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.noQuizes img {
  max-width: 500px;
  width: 100%;
}
.noQuizes h2 {
  font-size: 35px;
  color: #2c3558;
}
.noQuizes a {
  text-decoration: underline;
  font-size: 22px;
}
.quiz {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 100px 17px #eeeeee;
}
.quiz .cardImage {
  position: relative;
}
.quiz .cardImage img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.quiz .cardImage .lock {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  color: rgb(19, 134, 163);
}
.quiz .cardImage .time {
  position: absolute;
  bottom: -16px;
  right: -10px;
  font-size: 13px;
  border: 1px solid black;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--main-color);
  color: white;
}

.quiz .cardBody {
  margin-block: 15px 15px;
}
.quiz .cardBody .quizTitle {
  color: var(--main-color);
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
}
.quiz .cardBody .quizDesc {
  margin-block: 10px;
  word-wrap: break-word;
  text-transform: capitalize;
}
.quiz .cardFooter {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}
.quiz .cardFooter .trash {
  color: rgb(202, 190, 190);
  cursor: pointer;
  position: relative;
}
.quiz .cardFooter .trash:hover {
  color: red;
}
.quiz .cardFooter .play {
  color: rgb(30, 182, 0);
  cursor: pointer;
}
.quiz .password {
  margin-block: 20px 5px;
}
.quiz .password input {
  width: 100%;
  border-radius: 8px;
  padding: 3px;
}
/* End Quizes */

/* Quiz Box  */

.questions {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions .container {
  width: 1250px;
  background-color: var(--main-color);
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 42px 0px rgba(71, 71, 71, 0.75);
}

.questions .container .question-box .question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.questions .container .question-box .thequestion {
  font-size: 40px;
  text-transform: capitalize;
}

.questions .container .answers {
  display: grid;
  grid-template-columns: repeat(12, minmax(300px, 1fr));
  margin-top: 40px;
}

.questions .container .answers button {
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
  border-color: #a7d5e2;
  margin-bottom: 20px;
  text-align: left;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  width: 250px;
  transition: 0.2s;
}

.questions .container .answers button:hover {
  background-color: var(--main-color2);
  color: rgb(252, 252, 252);
}

.score {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/* Error Page  */
.notFound .container {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notFound .container h1 {
  font-size: 50px;
  color: #2c3558;
}
.notFound .container img {
  max-width: 500px;
  width: 100%;
}
.notFound .container a {
  font-size: 30px;
  text-decoration: underline;
}
.notFound .container a span {
  margin-left: 13px;
}

/* Start Login  */
.login .container{
  height: 70vh;
}
.login .container,.signup .container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.login .container .left,.signup .container .right{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.login .container .left img,.signup .container .right img{
  max-width: 80%;
  object-fit: cover;
  object-position: center;
}
.login .container .right h1,.signup .container .left h1{
  text-align: center;
}
.login .container .right form p,.signup .container .left form p{
  font-size: 19px;
}
.login .container .right form input,.signup .container .left form input{
  margin-bottom: 5px;
}
.login .container .right form input:focus,.signup .container .left form input:focus{
  border: 2px solid var(--main-color2);
  box-shadow:-1px 0px 18px 1px var(--main-color2);
  transition: 0.2s;
}
.login .container .right form .signUpBtn,.signup .container .left form .signInBtn{
  color: var(--main-color2);
  font-weight: bold;
  font-size: 18px;
}
.login .container .right form .signUpBtn:hover,.signup .container .left form .signInBtn:hover{
  text-decoration: underline;
}

@media (max-width:1120px) {
  .login .container,.signup .container{
    justify-content: center;
  }
  .login .container .left img,.signup .container .right img{
    display: none;
  }
}
/* End Login  */

/* Start Profile */
.profile{
  background-color: rgb(241, 241, 241);
  height: calc(100vh - 99px);
}
.profile .generalInfo,.profile .security{
  background-color: white;
  padding: 25px;
}
.profile .title{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;
}
.profile .fields{
  display: flex;
}
.profile .formFields{
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.profile .formFields label{
  font-size: 16px;
  font-weight: bold;
}
.profile .formFields input{
  border: 1px solid black;
  padding-inline: 10px;
  color: rgb(122, 122, 122);
  cursor: no-drop;
  width: fit-content;
}
.profile .delete {
  color: red;
  cursor: pointer;
  margin-top: 20px;
}
.profile .delete svg{
  margin-right: 5px;
}
.profile .delete:hover{
  color: rgb(241, 101, 101);
}
/* End Profile */